<ion-content >
  <div style="height: 100%; display: flex; justify-content: center; align-items: center;padding: 10px 10px 10px;">
  
    <div >
        
      <div  class="inputBox">
        <div>
          <div>ID</div>
          <input onkeypress="return (event.keyCode >= 48 && event.keyCode <= 90 )|| (event.keyCode >= 97 && event.keyCode <= 122) || (event.keyCode == 95 )" maxlength="12" [(ngModel)]="userName" >
        </div>
      </div>
    
      <div  class="inputBox">
    
    
      <div>
          <div>Password</div>
          <input  type="password" (keypress)="checkKey($event.keyCode)" [(ngModel)]="passwordtest" (ngModelChange)="check()"[(ngModel)]="passWord">
        </div>
      </div>
      <div class="inputBox" style="background-color: #1c2541; cursor: pointer" (click)="login()">Login</div> 
      <div class="inputBox" style="background-color: #1c2541; cursor: pointer ;margin-bottom: 3%;" (click)="goToRegister()">สมัคร</div> 
    </div>
  
  
  </div>
  
  </ion-content>
    
    
    