
ion-content{
  --background: #0B132B;
}

.inputBox{
  margin-top: 20px;
  display: flex;  
  justify-content: center;
  padding: 0.5em 0em 0.5em 0em;
  border: 3px solid #FCA311;
  border-radius: 15px;
  margin-left: 12%; 
  margin-right: 12%;
}

input {

  background: transparent;
  // padding: 0px 20px 0px 20px;
  font-size: 20px;
  outline: none;
  border-width: 0 0 2px;
  border-color: #e5e5e5;
}

div{
  color:#FFFFFF
}
