<ion-content >
  <div style="height: 100%; display: flex; justify-content: center; align-items: center;padding: 10px 10px 10px;">
  
    <div style="padding-top: 70px;" >
    
      <div  class="inputBox" >
        <div style="margin-left: 100px;">
        
          <img style="height: 100px; width: 100px; margin-left: 25%;" [src]="imageUrl" alt="Select Image"/>
          <div style="margin-left: 10px; margin-bottom: 5px;">รูปโปรไฟล์</div>
          <input type="file" accept="image/*" [(ngModel)]="FileImg" (change)="onImageSelected($event)">
        </div>
      </div>
    
       <div  class="inputBox"  >
        <div >
          <div style="margin-left: 10px;" >ชื่อ</div>
          <input [(ngModel)]="fname">
        </div>
      </div>
    
      <div  class="inputBox">
        <div>
          <div>นามสกุล</div>
          <input [(ngModel)]="lname" >
        </div>
      </div>
    
      <div  class="inputBox">
        <div>
          <div>ID</div>
          <input disabled="true" onkeypress="return (event.keyCode >= 48 && event.keyCode <= 90 )|| (event.keyCode >= 97 && event.keyCode <= 122) || (event.keyCode == 95 )" maxlength="12" [(ngModel)]="userName" >
        </div>
      </div>
    
      <div  class="inputBox">
    
    
      <div>
          <div>Password</div>
          <input  (keypress)="checkKey($event.keyCode)" [(ngModel)]="passwordtest" (ngModelChange)="check()"[(ngModel)]="passWord">
        </div>
      </div>
      <div class="inputBox" style="background-color: #1c2541; cursor: pointer" (click)=" testA()">ยืนยันการแก้ไข</div> 
      <div class="inputBox" style="background-color: #1c2541; cursor: pointer ;margin-bottom: 3%;" (click)="goToLogin()">ออกจากระบบ</div> 
    </div>
  
  
  </div>
  
  </ion-content>
    
    
    